html {
  overflow-y: visible;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.photo-showcase-container {
  width: 900px;
  height: 420px;
  /*background: #000;*/
}
