<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=Edge")
    title jQuery 학습
    link(rel="stylesheet", href="/node_modules/bulma/css/bulma.css")
    link(rel="stylesheet", href="./css/main.css")

  body

    h1.title.is-1 Hi jQuery :-)
    p.slogan write less do more.

    //- script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="//unpkg.com/jquery")
    script(src="./js/main.js")
