<!DOCTYPE html>
html(lang="ko-KR")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 주제 - Vue.js 프레임워크

    link(rel="shortcut icon" type="image/x-icon" href="assets/favicon.png")
    link(rel="stylesheet" href="css/main.css")

  body

    .project-team.container(v-cloak)
      .columns
        .column.is-6.is-offset-3
          h1.title.is-3 {{ team.name }}
          ul.team
            li.message.is-danger.group(v-for="(group, i) in team.group")
              .message-header
                span.icon.is-small
                  i.fa.fa-group(aria-hidden="true")
                strong.title.is-4 Team {{ i + 1 }}
              .message-body
                ul.members
                  li.member(v-for="(member, n) in group")
                    strong.tag.is-danger {{ member }}
                      button.is-small.delete(
                        type="button"
                        aria-label="제거"
                        v-on:click="excludeMember(i,n)"
                      )

    script(src="lib/jquery.min.js")
    script(src="//unpkg.com/vue@2.4.1/dist/vue.js")
    script(src="js/main.js")